{% extends "!theme/base.html" %}

{% from "components/top_bar.html" import top_bar %}

{% block head %}
  {{ super() }}
  {#
  By default, intelligent system fonts are used. If you want ot use Google Fonts, uncomment below
  You would also need to override the body font style in the custom.css
  #}
  {# <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7cRoboto:400,400italic,700%7cRoboto&#43;Mono"></link> #}

  <link rel="stylesheet" href="/css/custom.css"></link>
{% endblock head %}

<!-- Specify the links that should appear in the navbar main menu -->
{% block navbar %}
  {{ top_bar(
    background_color = "#8a171a",
    dark_background = True,
    menu_items = [
      {
        "label": "Home",
        "section": "about",
      },
      {
        "label": "Publications",
        "section": "selected_publications",
        "category": "publications"
      },
      {
        "label": "Posts",
        "section": "selected_posts",
        "category": "posts"
      },
      {
        "label": "Projects",
        "section": "selected_projects",
        "category": "projects"
      },
      {
        "label": "Teaching",
        "section": "teaching"
      },
      {
        "label": "Contact",
        "section": "contact"
      }
    ],
    page_name = page_name,
    categories = categories,
    pages = pages,
    category = category,
    article = article,
    show_search = true,
    site_url = SITEURL,
    site_name = SITENAME
  )}}
{% endblock %}
