{% extends "!theme/base.html" %}

{% from "components/main_menu.html" import main_menu %}

{% block head %}
  {{ super() }}
  {#
  By default, intelligent system fonts are used. If you want ot use Google Fonts, uncomment below
  You would also need to override the body font style in the custom.css
  #}
  {# <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7cRoboto:400,400italic,700%7cRoboto&#43;Mono"></link> #}

  <link rel="stylesheet" href="/css/custom.css"></link>
{% endblock head %}

<!-- Specify the links that should appear in the navbar main menu -->
{% block navbar %}
  {{ main_menu(
    menu_items = [
      {
        "label": "Home",
        "section": "about",
      },
      {
        "label": "Publications",
        "section": "selected_publications",
        "category": "publication"
      },
      {
        "label": "Posts",
        "section": "selected_posts",
        "category": "post"
      },
      {
        "label": "Projects",
        "section": "selected_projects",
        "category": "project"
      },
      {
        "label": "Teaching",
        "section": "teaching"
      },
      {
        "label": "Contact",
        "section": "contact"
      }
    ],
    page_name = page_name,
    categories = categories,
    show_search = true,
    site_url = SITEURL
  )}}
{% endblock %}
