{% extends "!theme/index.html" %}
{% import 'widgets.html' as widgets %}

{% block index_precontent %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      This is the jumbotron content! asfdasdf
    </div>
  </div>
{% endblock %}

{% block index_content %}
  {{ widgets.about_me('Lena Smith', job_title="Artificial Intelligence", works_for="Stanford University", articles=articles_page.object_list) }}

  {% block biography %}
    {% for article in articles_page.object_list %}
      <p>{{ article.slug }}</p>
    {% endfor %}
  {% endblock %}

  {% block social_icons %}twitter, google{% endblock %}

  <h2>Hey this is the custom theme homepage</h2>
  {{publications_section()}}

  CHANGED!! How about this??
{% endblock %}
