{% extends "base.html" %}
{% from "components/profile_metadata.html" import profile_metadata %}
{% from "components/profile.html" import profile %}
{% from "components/content_block.html" import content_block %}
{% from "components/interests.html" import interests %}
{% from "components/education.html" import education %}
{% from "components/article_card_deck.html" import article_card_deck %}

{% block head %}
  <title>{{ SITENAME }}</title>
  <meta name="description" content="">
  <meta name="author" content="{{ AUTHOR }}">
  {{ profile_metadata(PROFILE_METADATA) }}

  {{ super() }}
{% endblock %}

{% block banner %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Pelican Academic</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section id="about" class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {{ profile(
            full_name=PROFILE_METADATA.fullName,
            job_title=PROFILE_METADATA.jobTitle,
            works_for=PROFILE_METADATA.worksFor.name,
            email_address="test@example.org",
            network_urls={
              "google_scholar": "https://scholar.google.co.uk/citations?user=sIwtMXoAAAAJ",
              "twitter": "https://twitter.com/" + TWITTER_USERNAME,
              "github": "https://github.com/aerobatic/pelican-academic"
            }
          )}}
        </div>
        <div class="col-md-8">
          {{ content_block("biography", articles=articles, heading="Biography") }}
          <div class="row">
            <div class="col-sm-6">
              {{ interests([
                "Transfiguration",
                "Witchcraft and Wizardry",
                "Spell-casting",
                "Collecting of curious instruments"
              ])}}
            </div>
            <div class="col-sm-6">
              {{ education([
                ("Transfiguration","Hogwarts School of Wizardry")
              ])}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="selected_publications" class="home-section">
    <div class="container">
      <div class="section-heading">
        <h3>Selected Publications</h3>
      </div>
      {{ article_card_deck(articles | isselected('publication'), site_url=SITEURL) }}
    </div>
  </section>

  <section id="selected_posts" class="home-section">
    <div class="container">
      <div class="section-heading">
        <h3>Selected Posts</h3>
      </div>
      {{ article_card_deck(articles | isselected('post'), site_url=SITEURL) }}
    </div>
  </section>

  <section id="selected_projects" class="home-section">
    <div class="container">
      <div class="section-heading">
        <h3>Projects</h3>
      </div>
      {{ article_card_deck(articles | isselected('project'), site_url=SITEURL) }}
    </div>
  </section>

  <section id="selected_projects" class="home-section">
    <div class="container">
      <div class="section-heading">
        <h3>Teaching</h3>
      </div>
      {{ content_block("teaching", articles=articles) }}
    </div>
  </section>
{% endblock %}
